version: '3.9'

services:

  redis:
    image: redis
    container_name: redis
    volumes:
      - redis-vol:/data

  web-app:
    image: python-webapp
    container_name: python-app
    ports:
      - "8080:8080"
    depends_on:
      - redis
volumes:
  redis-vol:
    name: redis-vol